<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Register</title>

  <script src="/js/vendor/nprogress.js" crossorigin></script>
  <script src="/js/vendor/react.js" crossorigin></script>
  <script src="/js/vendor/react-dom.js" crossorigin></script>
  <script src="/js/vendor/react-jsonschema-form.js"></script>

  <link rel="stylesheet" href="/css/vendor/nprogress.css">
  <link rel="stylesheet" href="/css/main.css">

  <style>
    #wrapper {
      background: #eee;
      max-width: 350px;
    }
  </style>
</head>

<body>
  <div class="container card p-4 mt-4 mb-4" id="wrapper">
    <div class="text-center">
      <img src="/img/logo-75x75.png" class="mb-4" width="75" height="75" />
      <h3 class="mb-4">Create a new account</h3>
    </div>
    <div id="form" class="mb-4"></div>
    <a class="btn btn-danger btn-sm btn-block" href="/interaction/<%= uid %>/abort">Cancel</a>
  </div>
</body>

<script>
  let submitting = false;
  function onSubmit({ formData }, e) {
    if (submitting) return;
    submitting = true;
    NProgress.start();

    fetch('', {
      method: 'POST',
      headers: {
        'content-type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(formData)
    }).then(result => {
      submitting = false;
      NProgress.done();
    }).catch(error => {
      submitting = false;
      console.error(error);
    });
  };

  const schema = <%- JSON.stringify(schema) %>;
  schema.title = '';

  const log = (type) => console.log.bind(console, type);

  const e = React.createElement;
  const Form = JSONSchemaForm.default;
  ReactDOM.render(
    e(
      Form, {
        schema,
        onChange: log("changed"),
        onSubmit,
        onError: log("errors"),
        showErrorList: false
      },
      e(
        'button', {
          className: 'btn btn-success btn-lg btn-block'
        },
        'Create account'
      )
    ),
    document.getElementById('form'));
</script>

</html>
