<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@rjsf/core/dist/react-jsonschema-form.js"></script>
</head>

<body>
  <div class="container" id="form"></div>
</body>

<script type="text/babel">
  const onSubmit = async ({ formData }, e) => {
    const result = await fetch('', {
      method: 'POST',
      headers: {
        'content-type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(formData)
    })
  };
  const Form = JSONSchemaForm.default;
  const schema = <%- JSON.stringify(schema) %>;

  const log = (type) => console.log.bind(console, type);

  ReactDOM.render((
    <Form schema={schema}
      onChange={log("changed")}
      onSubmit={onSubmit}
      onError={log("errors")}>
    </Form>
  ), document.getElementById('form'));
</script>

</html>
