<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/vendor/react.js" crossorigin></script>
  <script src="/js/vendor/react-dom.js" crossorigin></script>
  <script src="/js/vendor/react-jsonschema-form.js"></script>
</head>

<body>
  <div class="container" id="form"></div>
</body>

<script>
  const e = React.createElement;

  const onSubmit = async ({ formData }, e) => {
    const result = await fetch('', {
      method: 'POST',
      headers: {
        'content-type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(formData)
    })
  };
  const Form = JSONSchemaForm.default;
  const schema = <%- JSON.stringify(schema) %>;

  const log = (type) => console.log.bind(console, type);

  ReactDOM.render(e(
    Form,
    {
      schema,
      onChange: log("changed"),
      onSubmit,
      onError: log("changed")
    }
  ), document.getElementById('form'));
</script>

</html>
